---
// Welcome to Astro! Everything between these triple-dash markers is Astro
// frontmatter. Be sure to start and end your frontmatter with ---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Welcome to Astro</title>
  </head>
  <body>
    <h1>Welcome to Astro</h1>
  </body>
</html>
